
<%= form_for @employee, :url => employer_employees_path, :html => { :class => "form-horizontal employee" }, :method => "post" do |f| %>
<%# form_for employer_employees_path(params[:employer_id]), :html => { :class => "form-horizontal employee" }  %>
  <% if @employee.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :fname, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :fname, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fname) %>
  </div>
  <div class="form-group">
    <%= f.label :lname, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lname, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lname) %>
  </div>
  <div class="form-group">
    <%= f.label :emp_no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :emp_no, :class => 'form-control' %>
    </div>
    <%=f.error_span(:emp_no) %>
  </div>
  <div class="form-group">
    <%= f.label :date_of_joining, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :date_of_joining, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date_of_joining) %>
  </div>
  <div class="form-group">
    <%= f.label :date_of_termination, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :date_of_termination, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date_of_termination) %>
  </div>


    <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>


  <div class="form-group">
    <%= f.label :department, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :department, :class => 'form-control' %>
    </div>
    <%=f.error_span(:department) %>
  </div>
  <div class="form-group">
    <%= f.label :designation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :designation, :class => 'form-control' %>
    </div>
    <%=f.error_span(:designation) %>
  </div>
  <div class="form-group">
    <%= f.label :lead, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lead, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lead) %>
  </div>
  <div class="form-group">
    <%= f.label :manager, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :manager, :class => 'form-control' %>
    </div>
    <%=f.error_span(:manager) %>
  </div>
  <div class="form-group">        
    <%= f.label :active, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :active, :class => 'form-control' %>
    </div>
    <%=f.error_span(:active) %>
  </div>

   

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "submit", :class => 'btn btn-primary'  %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                employer_employees_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>   


