<p id="notice"><%= notice %></p>


<p>
  <strong>Leave from date:</strong>
  <%= @leave.leave_from_date %>
</p>

<p>
  <strong>Leave to date:</strong>
  <%= @leave.leave_to_date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @leave.reason %>
</p>

<p>
  <strong>No of days:</strong>
  <%= @leave.no_of_days %>
</p>

<%= link_to 'Edit', "" %> |
<%= link_to 'Back', leaves_path %>
